@charset "UTF-8";
/* ----Resetcss----  */
body{
    margin: 0;
    padding: 0;
    background-color: #f7f3ee;
}

/* ---- header ---- */

header{
    background-color: rgb(191, 10, 68);
}

h1{
    margin: 0;
    font-weight: bold;
    margin-left: 40px;
    padding: 20px 0;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

h1 a{
    text-decoration: none;
    color: #fff;
}

h1 a:hover{
    filter: brightness(0.5);
    transition:0.5s;
}

/* ---- サインインページ ---- */
.sin-uppage_subtitle{
    text-align: center;
}


.form_margin_div{
    display: flex;
    justify-content: center;
}

form{
    width: 500px;
    margin:0 10% ;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

label{
    padding:10px  ;
}

input{
    height: 30px; 
} 

.login_page_a ,.sinuppage_a{
    text-align: center;
    font-size: 18px;
}

button{
    background-color: rgb(191, 10, 68);
    font-size: 20px;
    margin:30px 5%  0 5%;
    padding:5px 15px;
    color: #fff;
    border-color: #fff ;
    border-radius: 5px;
}

button:hover{
    background-color: #fff;
    color: rgb(191, 10, 68);
    transition:0.5s;
}

/* ----ログイン---- */
.loginpage_subtitle,.loginpage_error_text{
    text-align: center;
}

/* ----タスク一覧---- */
.listpage_subtitle{
    margin-left: 80px;
}

tr {
    display: flex;
    gap: 30px;
}


th{
    gap: 30px;
}
table{
    margin-left: 100px;
}

.task_text{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #DFDFDF;
}

.detail_jump{
    background-color: rgb(191, 10, 68);
    padding:10px 15px;
    border-color: #fff ;
    border-radius: 5px;
    transition: 0,5s;  
    color: #fff;
    text-decoration: none
}

.detail_jump:hover{
    background-color: #fff;
    color: rgb(191, 10, 68);
    transition: 0,5s;   
}

.tastmakepage_jump{
    margin-top: 100px;
    margin-left: 80px;
}

/* ----タスク作成---- */
.list_jump{
    text-align: center;
    margin-top: 80px;
}

/* ----タスク詳細---- */
.task_text_div{
    margin-left: 600px;
}

.task_text_div p{
    padding-bottom: 20px;
}

.erase_form{
    width: 100%;
}

.erase_button{
    text-align: center;
    margin: 0;
}

.page_button{
    text-align: center;
}